@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter, sans-serif;
}

@keyframes shine {
  0% {
    background-position: right -100% top 0;
  }
  100% {
    background-position: right 100% top 0;
  }
}

@layer utilities {
  .btn-shiny {
    background-image: linear-gradient(
      to right,
      transparent 33%,
      rgba(255, 255, 255, 0.3) 50%,
      transparent 66%
    );
    background-size: 300% 100%;
    animation: shine 1s ease-in-out;
  }

  .shine {
    animation: shine 1s ease-in-out;
  }
}

@keyframes hideDiv {
  0% {
    background: rgba(255, 255, 255, 1);
    /* opacity: 0.5; */
    backdrop-filter: blur(20px);
    color: black;
  }

  70% {
    color: transparent;
  }

  100% {
    /* opacity: 0; */
    background: rgba(255, 255, 255, 0);
    backdrop-filter: blur(0px);
    color: transparent;
  }
}

.hide-element {
  background: rgba(255, 255, 255, 1);
  animation: hideDiv 2.5s forwards;
  color: black;
  /* backdrop-filter: blur(20px); */
  animation-delay: 1s;
  pointer-events: none;
}
